
# Use basic auth to secure your API
#AuthName "REST API"
#AuthType Basic
#AuthUserFile /path/to/your/htusers
#require valid-user

<Limit POST PUT DELETE>
Require valid-user
</Limit>

AcceptPathInfo On
Options -Indexes
IndexIgnore */*
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
