
# Use basic auth to secure your API
#AuthName "REST API"
#AuthType Basic
#AuthUserFile /path/to/your/htusers
#require valid-user

AddType application/json .json

ErrorDocument 500 /php-rest/errors/500.json
ErrorDocument 404 /php-rest/errors/404.json
ErrorDocument 403 /php-rest/errors/403.json
ErrorDocument 401 /php-rest/errors/401.json

<LimitExcept GET OPTIONS HEAD>
Require valid-user
</LimitExcept>

AcceptPathInfo On
Options -Indexes
IndexIgnore */*
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
