<?php

// If enabled, will not use development features
//define('REST_PRODUCTION', true);

//define('REST_ROUTE_DOC_COMMENT', '@Route');

// Set logger (syslog or stderr)
define('REST_LOGGER', 'stderr');

define('REST_MAILER_FILE', dirname(__FILE__) . "/sent.json");
define('REST_MAILER', 'file');

// The data for JSON file example
define('REST_DATA_FILE', dirname(__FILE__) . "/data.json");

// Database settings
define('REST_DATABASE', 'phprestexample');
define('REST_HOSTNAME', 'localhost');
define('REST_USERNAME', 'phprestexample');
define('REST_PASSWORD', 'secret');
define('REST_CHARSET', 'utf8');
